<style>
  .icon-hover-sign-out:hover {
    color: red;
    transition: color 0.5s ease-in-out;
  }
</style>

<nav class="navbar bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" style="cursor: default">
      <img
        src="file-pokeball-png-0.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Nuzlocke-Tracker
    </a>
    <h1>
      {{ this.trainerService.current_trainer_name || current_trainer_id }}
    </h1>
    <fa-icon
      [icon]="faSignOut"
      class="fa-2x icon-hover-sign-out m-1"
      (click)="handleClick()"
    ></fa-icon>
  </div>
</nav>
<router-outlet />
