<style>
  .icon-hover-trash:hover {
    color: red;
    transition: color 0.5s ease-in-out;
  }
  .icon-hover-upArrow:hover {
    color: greenyellow;
    transition: color 0.5s ease-in-out;
  }
</style>

<div class="card p-3">
  <div class="card-title d-flex justify-content-between">
    <div class="title-container text-center">
      <h1 style="cursor: default">Pokemon Box</h1>
    </div>
    <div class="button-container">
      <fa-icon
        [icon]="faArrowUp"
        style="cursor: pointer"
        (click)="changeEvolveState()"
        class="fa-3x icon-hover-upArrow m-1"
      ></fa-icon>
      <fa-icon
        [icon]="faTrash"
        (click)="changeDeleteState()"
        style="cursor: pointer"
        class="fa-3x icon-hover-trash m-1"
      ></fa-icon>
    </div>
  </div>

  <div>
    <div
      class="card-body"
      [ngClass]="{
        'bg-danger bg-opacity-10': deleteState,
        'bg-success bg-opacity-25': evolveState,
        'bg-body-secondary': !deleteState && !evolveState
      }"
    >
      <div>
        <app-loading *ngIf="pokemonService.isLoading"></app-loading>

        <div *ngIf="!pokemonService.isLoading">
          <div
            *ngIf="pokemonBox.length; else noPokemon"
            class="d-flex flex-wrap justify-content-center"
          >
            <div *ngFor="let pokemon of pokemonBox; trackBy: trackPokemon">
              <app-pokemon-image
                [pokemon]="pokemon"
                (hoverIn)="hoverIn($event)"
                (hoverOut)="hoverOut($event)"
                (click)="handlePokemonClick(pokemon)"
                style="cursor: pointer"
              ></app-pokemon-image>
            </div>
          </div>
        </div>
        <ng-template #noPokemon>
          <div>Trainer has no pokemon</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
