<div class="container">
  <form [formGroup]="trainerForm" (ngSubmit)="handleClick()">
    <div class="mb-3 text-center">
      <label for="name" class="form-label" style="font-size: 24px"
        >Trainer name:</label
      >
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control text-center"
      />
    </div>

    <p class="mb-3 text-center" style="font-size: 24px; cursor: default">
      Please select your game:
    </p>
    <div class="row g-3">
      <div
        class="col-3"
        *ngFor="let option of gameOptions"
        (mouseenter)="hoverIn($event)"
        (mouseleave)="hoverOut($event)"
      >
        <input
          type="radio"
          [id]="option.id"
          formControlName="version"
          [value]="option.value"
          hidden
        />
        <label
          [for]="option.id"
          class="d-block text-center"
          style="font-size: 18px"
        >
          <img
            [src]="option.image"
            [alt]="option.label"
            class="img-fluid rounded border"
            [ngClass]="{
              'border-primary border-4': selectedGame === option.value
            }"
            style="cursor: pointer"
          />
          <div style="cursor: pointer">{{ option.label }}</div>
        </label>
      </div>
    </div>

    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
